---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection('latin');
    return posts.map((post) => ({
        params: { id: post.slug },
        props: { post },
    }));
}


const { post } = Astro.props;

const { titulus, descriptio } = post.data;

const { Content } = await post.render();



---

<Layout title="Sectio Latinitatis">
    <main class="m-auto max-w-prose prose prose-invert prose-img:rounded-xl prose-headings:underline prose-a:text-blue-600">
       <header>
           <h1>{titulus}</h1>
           <p>{descriptio}</p>
       </header>
       <Content />
    </main>
</Layout>