---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection('latin');
    return posts.map((post) => ({
        params: { id: post.slug },
        props: { post },
    }));
}


const { post } = Astro.props;

const { titulus, descriptio } = post.data;

const { Content } = await render(post);



---

<Layout title="Sectio Latinitatis">
    <main class="text-white w-[800px] mx-auto">
       <header>
           <h1>{titulus}</h1>
           <p>{descriptio}</p>
       </header>
       <Content />
    </main>
</Layout>