---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Enseñanza secundaria. Filología clásica">
	<main>
		<h1>Philologia Classica</h1>
		<dl class="instructions">
			<dd>
				Philologia
			</dd>
			<dt class="prose prose-invert">
				Del griego φιλολογία. Para referirse al amor o estudio de las palabras y la literatura.
			</dt>
			<dd>
				Cassicus
			</dd>
			<dt class="prose prose-invert">
				Hace referencia a algo de alta calidad, perteneciente a la primera clase o que es ejemplar, que en este contexto se interpreta como "clásico" o de las épocas antiguas y modelos establecidos.
			</dt>
		</dl>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Latín"
			>
				Programacións de Latín
			</Card>
			<Card
				href="#"
				title="Griego"
			>
				Programacións de Griego
			</Card>
		</ul>
		<p class="mt-5 instructions">
			Ave, amice! Mihi nomen est Geôrgos. Quinquaginta unum annos nata sum. In Hispania habito et magister sum. Quid facio? Grammaticus sum, id est, discipulis in schola assisto.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
