---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Enseñanza secundaria. Filología clásica">
	<main class="max-w-screen-md m-auto p-4 font-bold text-white text-xl leading-relaxed">
		<a href="/"><h1 class="mb-4 text-6xl text-center leading-none">Philologia Classica</h1></a>
		<dl class="instructions">
			<dd>
				Philologia
			</dd>
			<dt class="prose prose-invert">
				Del griego φιλολογία. Para referirse al amor o estudio de las palabras y la literatura.
			</dt>
			<dd>
				Cassicus
			</dd>
			<dt class="prose prose-invert">
				Hace referencia a algo de alta calidad, perteneciente a la primera clase o que es ejemplar, que en este contexto se interpreta como "clásico" o de las épocas antiguas y modelos establecidos.
			</dt>
		</dl>
		<ul role="list" class="link-card-grid">
			<Card
				href="/latin"
				title="Latín"
				transition:name='latinitas'
			>
				Programacións de Latín
			</Card>
			<Card
				href="#"
				title="Griego"
			>
				Programacións de Griego
			</Card>
			<Card
				href="/metamorphoseon"
				title="Metamorphoseon"
			>
				Metamorphoseon
			</Card>
		</ul>
		<p class="mt-5 instructions">
			Ave, amice! Mihi nomen est Geôrgos. Quinquaginta unum annos nata sum. In Hispania habito et magister sum. Quid facio? Grammaticus sum, id est, discipulis in schola assisto.
		</p>
		<abbr class="block prose prose-blockquote text-white instructions" title="Ab Urbe Condita, lib. 1, cap. 1. Titus Livius (59 a. C., 17 d. C.)">
			Cum bonis potius ominibus votisque et precationibus deorum dearumque, si, ut poetis, nobis quoque mos esset, libentius inciperemus, ut orsis tantum operis successus prosperos darent.
		</abbr>
		<a href="https://www.thelatinlibrary.com/ovid.html">
			<abbr class="prose prose-blockquote text-white" title="Metamorphoses, lib. 1, Ovidius (10 a. C.)">
				In nova fert animus mutatas dicere formas
				corpora; di, coeptis (nam vos mutastis et illas)
				adspirate meis primaque ab origine mundi
				ad mea perpetuum deducite tempora carmen!
			</abbr>
		</a>
	</main>
</Layout>

<style>
	
	
	
	
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
