---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from 'astro:content';
import { CldImage } from "astro-cloudinary";

const posts = await getCollection('latin');
---

<meta name="description" content="Latinitatis sectio" />


<Layout title="Sectio Latinitatis">
    <main class="max-w-screen-md m-auto p-4 font-bold text-white text-xl leading-relaxed">
		<a href="/"><h1 class="mb-4 text-6xl text-center leading-none">Philologia Classica</h1></a>
        
        
            <ul role="list" class="grid sm:grid-cols-2 gap-4 mb-4">
                { 
                    posts.map(({data , slug }) => (
                        <Card title={data.titulus} href={`/latinitatis-exercitationes/${slug}`} body={data.descriptio} />
                    ))
                }
            </ul>
            
            
            <figure class="flex flex-col gap-4 p-4 border rounded-lg shadow-md max-w-md">
                <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <CldImage
                    class="!w-full !h-auto !object-contain !rounded-lg"
                    src="latin/eneas-bernini"
                    height={200}
                    sizes="100vw"
                    alt="Gian Lorenzo Bernini (s. XVI)"
                    transition:name="latinitas"
                    />
                    <CldImage
                    class="!w-full !h-auto !object-contain !rounded-lg"
                    src="latin/anquises-penates"
                    height={200}
                    sizes="100vw"
                    alt="Gian Lorenzo Bernini (s. XVI)"
                    transition:name="latinitas"
                    />
                </section>
                <figcaption class="font-semibold">
                    <strong>Anquises</strong>, <strong>Eneas</strong> y <strong>Ascanio</strong>. Obra de Gian Lorenzo Bernini (s. XVI), expuesta en la actualidad en la Galería Borghese (Roma).
                   
                    <div class="text-sm">
                        ¿Qué papel tuvieron estos personajes en la obra de Bernini?
                    </div>
                    <div class="text-sm">
                        <ul>
                            <li>
                                <a aria-label="Enlace a la página de Wikipedia sobre los Penates" class="prose-invert hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-200" href="https://es.wikipedia.org/wiki/Penates">
                                    ¿Qué lleva en las manos Anquises y cuál es su función?
                                    <span aria-hidden="true">🔗</span>
                                </a>
                            </li>
                            <li>
                                <a aria-label="Enlace a la página de Wikipedia sobre Federico Barocci y Eneas saliendo de Troya" class="prose-invert hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-200" href="https://es.borghese.gallery/coleccion/pinturas/la-huida-de-eneas-de-troya.html">
                                    Otras obras sobre la misma temática
                                    <span aria-hidden="true">🔗</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </figcaption>
            </figure>
       
          
    </main>

    
</Layout>