---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from 'astro:content';
import { CldImage } from "astro-cloudinary";

const posts = await getCollection('latin');
---

<meta name="description" content="Latinitatis sectio" />


<Layout title="Sectio Latinitatis">
    <main class="max-w-screen-md m-auto p-4 font-bold text-white text-xl leading-relaxed">
		<a href="/"><h1 class="mb-4 text-6xl text-center leading-none">Philologia Classica</h1></a>
        
        
            <ul role="list" class="grid sm:grid-cols-2 gap-4 mb-4">
                { 
                    posts.map(({data , slug }) => (
                        <Card title={data.titulus} href={`/latinitatis-exercitationes/${slug}`} body={data.descriptio} />
                    ))
                }
            </ul>
            
            <figure class="flex gap-4 p-4 border rounded-lg shadow-md max-w-md">
                <CldImage
                src="latin/eneas-bernini"
                height={400}
                sizes="100vw"
                alt="Gian Lorenzo Bernini (s. XVI)"
                />
                <figcaption class="max-w-full font-semibold">
                    <strong>Anquises</strong>, <strong>Eneas</strong> y <strong>Ascanio</strong>. Obra de Gian Lorenzo Bernini (s. XVI), expuesta en la actualidad en la Galería Borghese (Roma).
                   
                    <div class="text-sm">
                        ¿Qué papel tuvieron estos personajes en la obra de Bernini?
                    </div>
                </figcaption>
            </figure>
       
          
    </main>

    
</Layout>